In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
import re

In [2]:
xls = pd.ExcelFile("Product Matching Dataset.xlsx")

In [3]:
master_df = pd.read_excel(xls, "Master File")
dataset_df = pd.read_excel(xls, "Dataset")

In [4]:
dataset_df.head()

    sku marketplace_product_name_ar       seller_item_name  price
0  1322    استوهالت 40 مجم 14 كبسول  ESTOHALT 40 MG 14 CAP   56.5
1  1322    استوهالت 40 مجم 14 كبسول   استوهالت 40 مجم 14 ك   56.5
2  1322    استوهالت 40 مجم 14 كبسول   استوهالت 40 مجم 14 ك   56.5
3  1322    استوهالت 40 مجم 14 كبسول   استوهالت 40 مجم 14 ك   56.5
4  1322    استوهالت 40 مجم 14 كبسول   استوهالت 40 مجم 14 ك   56.5

In [5]:
master_df.head()

    sku                    product_name                product_name_ar  price
0   279          ANAFRONIL 75 MG 20 TAB  انافرونيل 75 مجم اس ار 20 قرص   75.0
1  2282         LOPRECOUGH SYRUP 100 ML           لوبريكاف شراب 100 مل   28.5
2  4331               TOMEX PLUS 50 TAB               تومكس بلس 50 قرص   60.0
3  1022     TAROLIMUS 0.03% OINT. 15 GM     تاروليمس 0.03 % مرهم 15 جم  129.0
4   116  GLIPTUS PLUS 50/1000 MG 30 TAB  جليبتس بلس 50/1000 مجم 30 قرص  192.0

In [6]:
dataset_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83562 entries, 0 to 83561
Data columns (total 4 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   sku                          83562 non-null  int64
 1   marketplace_product_name_ar  83562 non-null  object
 2   seller_item_name             83562 non-null  object
 3   price                        83562 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 2.6+ MB

## 1. Data Preprocessing

### a. Cleaning

In [7]:
# remove punctuation and convert to lowercase
dataset_df['seller_item_name'] = dataset_df['seller_item_name'].map(lambda s: re.sub(r'[^\w\s]','',s.lower()))

In [ ]:
# search for @ in the seller_item_name
dataset_df[dataset_df['seller_item_name'].str.contains("")]

<>:2: SyntaxWarning: invalid escape sequence '\*'
<>:2: SyntaxWarning: invalid escape sequence '\*'
C:\Users\Dell\AppData\Local\Temp\ipykernel_16300\927151973.py:2: SyntaxWarning: invalid escape sequence '\*'
  dataset_df[dataset_df['seller_item_name'].str.contains("\*\*")]

Empty DataFrame
Columns: [sku, marketplace_product_name_ar, seller_item_name, price]
Index: []

In [9]:
dataset_df.head()

    sku marketplace_product_name_ar       seller_item_name  price
0  1322    استوهالت 40 مجم 14 كبسول  estohalt 40 mg 14 cap   56.5
1  1322    استوهالت 40 مجم 14 كبسول   استوهالت 40 مجم 14 ك   56.5
2  1322    استوهالت 40 مجم 14 كبسول   استوهالت 40 مجم 14 ك   56.5
3  1322    استوهالت 40 مجم 14 كبسول   استوهالت 40 مجم 14 ك   56.5
4  1322    استوهالت 40 مجم 14 كبسول   استوهالت 40 مجم 14 ك   56.5

In [10]:
X = dataset_df['seller_item_name']
y = dataset_df['sku']

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)

In [12]:
len(X_train), len(X_test)

(66849, 16713)